.register-container-fluid {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,64,121,1) 35%, rgba(0,212,255,0.27494747899159666) 100%);
}

input{
  height: 35px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}